name: Deploy to Oracle VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Decode SSH key
        run: |
          echo "${{ secrets.VM_KEY3 }}" | tr -d '\r\n' | base64 --decode > private_key
          chmod 600 private_key
          echo "Decoded private key header:"
          head -n 3 private_key

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key_path: private_key
          script: |
            cd ~/EHR-Integration-Bridge
            git pull origin main
            sudo docker-compose down
            sudo docker-compose up -d --build
